{% extends 'base.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block body %}
<table>
    <tr><td class="tdTrDefoult"><h1>Профиль</h1></td></tr>
    <tr><td class="tdTrDefoult"><h2>Ваш никнейм: {{ user.nickname }}</h1></td></tr>
    <tr><td class="tdTrDefoult"><h2>Ваша почта: {{ user.email }}</h1></td></tr>
    <tr><td class="tdTrDefoult"><h2>Верификация: {% if user.isVerified == true %}Пройдена{% else %}Не пройдена{% endif %}</h1></td></tr>
</table>
{% endblock %}
