{% extends 'base.html.twig' %}

{% block title %}Bombaster - коротко о играх{% endblock %}

{% block body %}

    {% for videoGameArticles in videoGameArticles %}
        <h1>{{ videoGameArticles }}</h1>
        <h2>{{ videoGameArticles.text }}<h2>
        <a href="{{ path('article', { id: videoGameArticles.id }) }}">Читать отзывы</a>
    {% endfor %}
    
{% endblock %}