{% extends 'base.html.twig' %}

{% block title %}БАН!!!{% endblock %}

{% block body %}
    <h1 style="text-align: center; color: red;">Вы забанены<br></h1>
    <h2 class="tdTrDefoult btn-new:hover btn-new"><a href="{{ path('homepage') }}">На главную страницу</h2>
{% endblock %}
