{% extends 'base.html.twig' %}

{% block title %}БАН!!!{% endblock %}

{% block body %}
    <h1 style="text-align: center; color: red;">Вы забанены<br> P.S. Да это жестко, но мне лень подругому делать :)</h1>
{% endblock %}
