.center {
    width: 600px;
    padding: 30px;
    margin: auto;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
}

body {
    background: url('/images/phon1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

.article {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.text {
    line-height: 130%;
}